<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ocrcamera" >
    <!-- 增加文件存储和访问摄像头的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.cc.camera.OcrActivity" />

    </application>
</manifest>
